.contact-map-container {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    margin: 1rem 1 1rem;
}

.custom-leaflet-map {
    height: 300px;
    width: 100%;
    border-radius: 12px;
}

.leaflet-popup-content {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #151515;
}

@media (min-width: 768px) {
    .custom-leaflet-map {
        height: 400px;
    }
}

@media (min-width: 1200px) {
    .custom-leaflet-map {
        height: 500px;
    }
}
